body > .page:after {
	clear: both;
	color: #FFFFFF;
	content: "";
	display: block;
	height: 50px;
}

body > .page {
	margin-bottom: -50px;
	min-height: 100%;
}

body > footer {
	height: 50px;
}

output {
	display: block;
	white-space: pre;
	font-family: monospace;
	width: 600px;
	margin: auto;
}